$primary-bg: #121212;
$primary-font-color: #A9A9A9;

$secundary-bg: #A9A9A9;
$secundary-font-color: black;

body {
  background-color: $primary-bg;
  color: $primary-font-color;
}

.page-container {
  margin: 0;
  padding: 0;
  height: 98vh;
  border: 3px solid red;
  display: flex;
}

.navbar-left {
  width: 20%;
  height: 99.5%;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-right {
  width: 80%;
  height: 99.5%;
  border: 3px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.title-field {
  width: 99%;
  border: 3px solid indianred;
  background-color: $secundary-bg;
  color: $secundary-font-color;
  font-size: 1.4em;
  margin-bottom: 20px;
  margin-top: 20px;
}


.text-field {
  width: 99%;
  border: 3px solid pink;
  background-color: $secundary-bg;
  color: $secundary-font-color;
  font-size: 1.4em;
}

.title-display {
  width: 99.5%;
  height: 8.5%;
  border: 3px solid maroon;
  margin-bottom: 20px;
}

.body-display {
  width: 99.5%;
  height: 40%;
  border: 3px solid aqua;
}

.main-btn{
  background-color: red;
  color: white;
  border: none;
  font-size: 1.2em;
  width: 200px;
  height: 30px;
  margin-top:10px;
  margin-bottom: 10px;;
}