$main-font: 'Lato', sans-serif;

$primary-bg: #121212;
$primary-font-color: #A9A9A9;

$secundary-bg: #A9A9A9;
$secundary-font-color: black;

$tertiary-color: red;
$tertiary-bg: red;

body {
  background-color: $primary-bg;
  color: $primary-font-color;
  font-family: $main-font;
}

.page-container {
  margin: 0;
  padding: 0;
  height: 98vh;
  border: 3px solid red;
  display: flex;
}

.navbar-left {
  width: 20%;
  height: 99.5%;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes-list {
  margin: 2.5%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  // Hiding the scrolling bar.
  // Source: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp
  -ms-overflow-style: none; 
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.note-wrapper {
  display: flex;

  .note-container--erase {
    background-color: $secundary-bg;
    height: 40px;
    width: 40px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}

.note-container {
  border: 3px solid white;
  width: 100%;
  margin: 2.5%;
  padding: 2.5%;
  font-size: 1em;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  h2 {
    color: $tertiary-color;
    margin: 0;
    padding: 0;
  }

  .note-body {
    text-align: justify;
    text-justify: inter-word;
  }
}

.main-right {
  width: 80%;
  height: 99.5%;
  border: 3px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.title-field {
  width: 99%;
  border: 3px solid indianred;
  background-color: $secundary-bg;
  color: $secundary-font-color;
  font-size: 1.4em;
  margin-bottom: 20px;
  margin-top: 20px;
}


.text-field {
  width: 99%;
  border: 3px solid pink;
  background-color: $secundary-bg;
  color: $secundary-font-color;
  font-size: 1.4em;
}

.title-display {
  width: 99.5%;
  height: 8.5%;
  border: 3px solid maroon;
  margin-bottom: 20px;
}

.body-display {
  width: 99.5%;
  height: 40%;
  border: 3px solid aqua;
}

.main-btn{
  background-color: $tertiary-bg;
  color: white;
  border: none;
  font-size: 1.2em;
  width: 200px;
  height: 30px;
  margin-top:10px;
  margin-bottom: 10px;
  cursor: pointer;
}